<div class="span7">
<% @subscriber ||= Spree::Chimpy::Subscriber.new %>
<%= form_for @subscriber do |f| %>
  <div>
    <h4><%= t "spree.chimpy.subscribe_title" %></h4>
    <%= f.email_field :email, placeholder: t("spree.chimpy.email.placeholder") %>
    <%= f.submit %>
  </div>
<% end %>
</div>